<h1>
  goodservice.io
  <sub>alpha</sub>
</h1>

<ul class="routes">
  <% Hash[@processor.routes.sort_by { |_, v| "#{v.name} #{v.alternate_name}"}].each do |_, route| %>
    <li>
      <span class="route-name">
        <div class="<%=route.classes %>" style="<%= route.style %>">
          <div class="<%=route.inner_classes %>" style="<%= route.inner_style %>"><%= route.display_name %></div>
        </div>
        <%= route.alternate_name %>
      </span>
      <%= route.status %>
    </li>
  <% end %>
</ul>
