<h1>
  goodservice.io
  <sub>alpha</sub>
</h1>

<div>
  <h2>By Train</h2>
  <ul class="routes">
    <% Hash[@processor.routes.sort_by { |_, v| "#{v.name} #{v.alternate_name}"}].each do |_, route| %>
      <li>
        <span class="route-name">
          <div class="<%=route.classes %>" style="<%= route.style %>">
            <div class="<%=route.inner_classes %>" style="<%= route.inner_style %>"><%= route.display_name %></div>
          </div>
          <%= route.alternate_name %>
        </span>
        <%= route.status %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <h2>By Line</h2>
  <% @boroughs.each do |borough| %>
    <h3><%= borough %></h3>
    <ul>
      <% @processor.lines_by_borough(borough).each do |line| %>
        <li>
          <span class="line-name"><%= line.name %></span>
          <% line.routes.each do |route| %>
            <div class="<%=route.classes %>" style="<%= route.style %>">
              <div class="<%=route.inner_classes %>" style="<%= route.inner_style %>"><%= route.display_name %></div>
            </div>
          <% end %>
          <%= line.status %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>