<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125010964-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125010964-1');
    </script>
    <title>goodservice.io beta - <%= content_for?(:title) ? yield(:title) : 'status page for new york city subway' %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'goodserviceApp/index' %>
    <%= stylesheet_pack_tag 'goodserviceApp/assets/stylesheets/app' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-— facebook open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.goodservice.io" />
    <meta property="og:title" content="goodservice.io" />
    <meta property="og:description" content="Status page for New York City subway" />
    <%= tag :meta, property: 'og:image', content: image_url('screenshot.png') %>
     
    <!-— twitter card tags additive with the og: tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" value="goodservice.io" />
    <meta name="twitter:title" value="goodservice.io" />
    <meta name="twitter:description" value="Status page for New York City subway" />
    <%= tag :meta, property: 'twitter:image', content: image_url('screenshot.png') %>
    <meta name="twitter:url" value="https://www.goodservice.io" />
    <%= favicon_link_tag asset_path('favicon.ico'), rel: 'icon', type: "image/x-icon" %>
    <meta name="slack-app-id" content="AGK7ZP2AH">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
