<!DOCTYPE html>
<html>
  <head>
    <title>goodservice.io</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'goodserviceApp/index' %>
    <%= stylesheet_pack_tag 'goodserviceApp/assets/stylesheets/app' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
